.not_uhl a.uhl_only {
    color: white;
    background-color: #999999;
    pointer-events: none;
}

.not_uhl h3.uhl_only:after {
    content: "UHL Only";
    color: #193e72;
    font-size: 1em;
    font-weight: bold;
    font-family: Lato;
}


.not_uol a.uol_only {
    color: white;
    background-color: #999999;
    pointer-events: none;
}

.not_uol h3.uol_only:after {
    content: "UoL Only";
    color: #193e72;
    font-size: 1em;
    font-weight: bold;
    font-family: Lato;
}
