.not_uhl a.uhl_only {
    color: white;
    background-color: #999999;
    pointer-events: none;
    border: none;
}

.not_uhl h3.uhl_only:after {
    content: "(UHL Only)";
    color: #999999;
    font-size: 0.8em;
    font-weight: bold;
}


.not_uol a.uol_only {
    color: white;
    background-color: #999999;
    pointer-events: none;
    border: none;
}

.not_uol h3.uol_only:after {
    content: "(UoL Only)";
    color: #999999;
    font-size: 0.8em;
    font-weight: bold;
}
